* {
  margin: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
  color: #fff;
}
body {
  margin: 0;
  box-sizing: border-box;
  background: #161d3afc;
}
.home {
  background: linear-gradient(#161a36, #151f61);
  padding: 40px;
}
.social a {
  padding: 10px;
  background: none;
  margin: 10px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: all 0.2s ease;
}
.social a:hover {
  background: #fff;
  border: 1px solid #fff;
}
.social i:hover {
  color: black;
}
.button a {
  background: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}
.button a:hover {
  background: #768fe9;
}
.container {
  display: flex;
  width: 100%;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 25vh;
  background: linear-gradient(#181c2b, #0e257a);
  border: 1px solid #ffffff;
  border-radius: 20px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
